{% extends 'base/main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'loging/css/signup.css' %}">

<div class="signup">
    <div class="container">
        <div class="signup_inner">
            <div class="block_signup">
                <div class="welcome_block">
                    <div href="{% url 'home' %}" class="logo">
                        <h3 class="l_part_logo">My</h3>
                        <h3 class="r_part_logo">Money</h3>
                    </div>
                </div>

                <form action="" class="login_form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="signup-input" type="text" value="{{ form.first_name.value }}" name="{{ form.first_name.name }}" placeholder="{{ form.first_name.field.widget.attrs.placeholder }}" autocomplete="{{ form.email.field.widget.attrs.autocomplete }}">
                        {% for error in form.first_name.errors %}
                            <div class="error_msg">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <input class="signup-input" type="text" value="{{ form.last_name.value }}" name="{{ form.last_name.name }}" placeholder="{{ form.last_name.field.widget.attrs.placeholder }}" autocomplete="{{ form.email.field.widget.attrs.autocomplete }}">
                        {% for error in form.last_name.errors %}
                            <div class="error_msg">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <input class="signup-input" type="text" value="{{ form.email.value }}" name="{{ form.email.name }}" placeholder="{{ form.email.field.widget.attrs.placeholder }}" autocomplete="{{ form.email.field.widget.attrs.autocomplete }}">
                        {% for error in form.email.errors %}
                            <div class="error_msg">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <input class="signup-input" type="password" value="{{ form.password.value }}" name="{{ form.password.name }}" placeholder="{{ form.password.field.widget.attrs.placeholder }}" autocomplete="{{ form.password.field.widget.attrs.autocomplete }}">
                        {% for error in form.password.errors %}
                            <div class="error_msg">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <input class="signup-input" type="password" value="{{ form.password_confirmation.value }}" name="{{ form.password_confirmation.name }}" placeholder="{{ form.password_confirmation.field.widget.attrs.placeholder }}" autocomplete="{{ form.password.field.widget.attrs.autocomplete }}">
                        {% for error in form.password_confirmation.errors %}
                            <div class="error_msg">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <button class="signup_btn" type="submit">Sign up</button>
                </form>
            </div>
            <div class="add_links">
                <a href="{% url 'signup' %}" class="add_link">Log in?</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}